body, .bg
{
  /* background-color: rgba(229, 231, 235); */
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(229, 231, 235);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
} 